

body{
  background-color: yellow ;
}

.btn {
    background: #3498db;
    text-align: center;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;

  }

  .btn:hover {
    background: #3cb0fd;
    text-decoration: none;
  }

  .centred{
    display: flex;
    justify-content: center;
}

  .flipImage {
    width: 100px;
  }
  .memory-game{
    width: 500px;
    height: 500px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
  }

  .gameTile {
    display: inline;
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
  }
